/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.btn-blue {
  background-color: rgb(49, 85, 141);
  color: white
}

h1 {
  font-size: 72;
  padding: 15px
}

h2 {
  font-size: larger;
  padding-left: 15px
}

form {
  padding-left: 15px
}

.answer {
  background-color:blanchedalmond;
  width: 500px;
  margin: 15px;
  font-size: large;
  font-weight: bold;
}

.signature {
  font-size: large;
  margin: 15px;
}
